/* Reset et police */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pacifico', cursive;
}


/* Fond dégradé animé */
body {
  background: linear-gradient(135deg, #198aed, #29B6F6, #26C6DA);
  background-size: 400% 400%;
  animation: bgMove 12s ease infinite;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@keyframes bgMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Texte animé */
#title {
  font-size: 140px;  /* AGRANDI */
  font-weight: 900;
  color: white;
  letter-spacing: 6px;
  display: inline-block;
  opacity: 0;
  transform: translateY(40px);
}

/* Animation écriture */
.letter {
  opacity: 0;
  display: inline-block;
  transform: translateY(40px);
  animation: write 0.75s ease-out forwards;
}

@keyframes write {
  0% { opacity: 0; transform: translateY(40px); }
  100% { opacity: 1; transform: translateY(0); }
}
